{% extends 'base.html' %}

{% block title %}My Orders | MyStore{% endblock %}

{% block content %}

<section class="orders-section">

<div class="container">

    <h1>My Orders</h1>

    {% if orders %}

        {% for order in orders %}

        <div class="order-card">

            <div class="order-header">

                <div>
                    <h2>Order #{{ order.id }}</h2>
                    <p>{{ order.created_at|date:"d M Y, h:i A" }}</p>
                </div>

                <div class="order-header-right">

    <div class="order-total">
        ₹{{ order.total_amount }}
    </div>

    <a href="{% url 'order_detail' order.id %}" class="view-order-btn">
        View Details
    </a>

</div>
            </div>

            <div class="order-details">

                <p>
                    <strong>Name:</strong>
                    {{ order.customer_name }}
                </p>

                <p>
                    <strong>Email:</strong>
                    {{ order.email }}
                </p>

                <p>
                    <strong>Phone:</strong>
                    {{ order.phone }}
                </p>

                <p>
                    <strong>Address:</strong>
                    {{ order.address }}
                </p>

            </div>

            <div class="order-items">

                <h3>Items</h3>

                {% for item in order.items.all %}

                <div class="order-item">

                    <span>
                        {{ item.product.name }}
                    </span>

                    <span>
                        × {{ item.quantity }}
                    </span>

                    <strong>
                        ₹{{ item.subtotal }}
                    </strong>

                </div>

                {% endfor %}

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="empty-orders">

            <h2>No orders yet</h2>

            <p>You haven't placed any orders yet.</p>

            <a href="{% url 'home' %}" class="btn">
                Start Shopping
            </a>

        </div>

    {% endif %}

</div>

</section>

{% endblock %}
