{% extends 'base.html' %}

{% block title %}Order Successful | MyStore{% endblock %}

{% block content %}

<section class="success-section">

    <div class="success-card">

        <div class="success-icon">🎉
            
        </div>

        <h1>Order Placed Successfully!</h1>

        <p class="success-message">
            Thank you for your order. Your order has been successfully placed.
        </p>

        <div class="order-info">
            <span>Order ID</span>
            <strong>#{{ order_id }}</strong>
        </div>

        <a href="{% url 'home' %}" class="continue-btn">
            Continue Shopping
        </a>

    </div>

</section>

{% endblock %}